**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
airflow/logs/
airflow/plugins/__pycache__/
airflow/*.db
.git
.github
.vscode
.idea
*.md
.env
.env.*
serve/.env
logs/
test-results/
htmlcov/
.coverage
.pytest_cache/
*.log
mc.exe
node_modules/
venv/
.venv/
